---
//import Apple from "../social-icons/apple.astro";
import Facebook from "../social-icons/facebook.astro";
import Instagram from "../social-icons/instagram.astro";
import Spotify from "../social-icons/spotify.astro";
import Tiktok from "../social-icons/tiktok.astro";
import X from "../social-icons/x.astro";
import Whatsapp from "../social-icons/whatsapp.astro";
import Youtube from "../social-icons/youtube.astro";
import IconWrapper from "../social-icons/icon-wrapper.astro";
---

    <!--<div class="flex items-center gap-1">-->
    <!--    <Image-->
    <!--        src="https://utfs.io/f/2CpGRsZgLXSlR9vXiwItsea310vlXh7ntjEfKpZFOiAP8byc"-->
    <!--        alt="correo"-->
    <!--        width="28"-->
    <!--        height="28"-->
    <!--        loading="lazy"-->
    <!--    />-->
    <!--    <a href="mailto:info@loshh.com.mx">info@loshh.com.mx</a>-->
    <!--</div>-->
</div>

<!--<p class="text-center mt-16 font-semibold text-2xl tracking-widest">-->
<!--    www.loshh.com.mx-->
<!--</p>-->

<div
    class="mx-auto flex justify-center items-center flex-wrap gap-3 md:gap-10 mt-10 px-5 md:px-0"
>
    <!-- <IconWrapper href="https://music.apple.com/us/artist/el-bebeto/476046261" name="Apple">
        <Apple className="fill-black" />
    </IconWrapper> -->

    <IconWrapper href="https://open.spotify.com/intl-es/artist/1YhMWppPt9RVODKD1KCs7W" name="Spotify">
        <Spotify className="fill-black" />
    </IconWrapper>

    <IconWrapper href="https://www.instagram.com/thereallfran/" name="Instagram">
        <Instagram className="fill-black" />
    </IconWrapper>

    <IconWrapper href="https://www.facebook.com/thereallfran" name="Facebook">
        <Facebook className="fill-black" />
    </IconWrapper>

    <IconWrapper href="https://x.com/thereallfran" name="X">
        <X className="fill-black" />
    </IconWrapper>

    <IconWrapper href="https://www.tiktok.com/@thereallfran?lang=es" name="TikTok">
        <Tiktok className="fill-black" />
    </IconWrapper>

    <IconWrapper href="https://whatsapp.com/channel/0029Vb2RyO8ADTONKjMglx1x" name="Whatsapp">
        <Whatsapp className="fill-black" />
    </IconWrapper>

    <IconWrapper href="https://www.youtube.com/channel/UCN7BUqAgXT3YMG5pjNdz2RA" name="YouTube">
        <Youtube className="fill-black" />
    </IconWrapper>
</div>

<p class="mt-10 text-center text-base">
    Copyright © 2025. FRAN. Todos los derechos reservados.
</p>
