---
interface Props {
    href: string;
    name: string;
}

const { href, name } = Astro.props;
---

<a
    href={href}
    target="_blank"
    rel="noreferrer"
    class="size-6 md:size-10 flex items-center justify-center bg-white rounded-full shrink-0"
    aria-label={`visitar ${name}`}
>
    <slot />
</a>
